@model Server_v0._0.Models.Order
@{
    ViewBag.Title = Model.Id;
}
<h2>Номер заказа @Model.Id</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Цена</dt>
        <dd>@Model.Price</dd>
    </dl>
</div>