@model Server_v0._0.Models.Order
@{
    ViewBag.Title = "Редактирование пользователя";
}
<form asp-action="edit" asp-controller="Orders" asp-route-id="@Model.OrderId">
    <div class="form-group">
        <label asp-for="Price" class="control-label">Цена заказа</label>
        <input type="number" asp-for="Price" class="form-control" />
    </div>
</form>