@model IEnumerable<Server_v0._0.Models.Order>
@{
    ViewBag.Title = "Все пользователи";
}
<a asp-action="Create">Добавить заказ</a>
<table class="table">
     
    @foreach (var item in Model)
    {
        <tr><td>@item.OrderId</td>
            <td>
                <a asp-action="Details" asp-controller="Orders" asp-route-id="@item.OrderId">Подробнее</a> |
                <a asp-action="Edit" asp-controller="Orders" asp-route-id="@item.OrderId">Изменить</a> |
                <a asp-action="Delete" asp-controller="Orders" asp-route-id="@item.OrderId">Удалить</a>
            </td></tr>
    }
</table>