@model IEnumerable<Server_v0._0.Models.Report>
@{
    ViewBag.Title = "Все пользователи";
}
<a asp-action="Create">Добавить отчёт</a>
<table class="table">
     
    @foreach (var item in Model)
    {
        <tr><td>@item.ReportId</td>
            <td>
                <a asp-action="Details" asp-controller="reports" asp-route-id="@item.ReportId">Подробнее</a> |
                <a asp-action="Edit" asp-controller="reports" asp-route-id="@item.ReportId">Изменить</a> |
                <a asp-action="Delete" asp-controller="reports" asp-route-id="@item.ReportId">Удалить</a>
            </td></tr>
    }
</table>