@model Server_v0._0.Models.Computer
@{
    ViewBag.Title = "Редактирование информации о компьютере";
}
<form asp-action="edit" asp-controller="computers" asp-route-id="@Model.ComputerId">
    <div class="form-group">
        <label asp-for="Title" class="control-label">Название компьютера</label>
        <input type="text" asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CPU" class="control-label">Название процессора</label>
        <input type="text" asp-for="CPU" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="GraphicsCard" class="control-label">Название видеокарты</label>
        <input type="text" asp-for="GraphicsCard" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RAM" class="control-label">Название оперативной памяти</label>
        <input type="text" asp-for="RAM" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Motherboars" class="control-label">Название материнской платы</label>
        <input type="text" asp-for="Motherboars" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PowerSupply" class="control-label">Название блока питания</label>
        <input type="text" asp-for="PowerSupply" PowerSupply="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="HardDrive" class="control-label">Название жёсткого диска</label>
        <input type="text" asp-for="HardDrive" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SSD_Disk" class="control-label">Название SSD диска</label>
        <input type="text" asp-for="SSD_Disk" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Body" class="control-label">Название корпуса компьютера</label>
        <input type="text" asp-for="Body" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Цена</label>
        <input type="number" asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>