@model Server_v0._0.Models.Status
@{
    ViewBag.Title = Model.Title;
}
<h2>Название статуса:   @Model.Title</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Идентификатор</dt>
        <dd>@Model.StatusId</dd>
    </dl>
</div>