@model IEnumerable<Server_v0._0.Models.Status>
@{
    ViewBag.Title = "Все пользователи";
}
<a asp-action="Create">Добавить статус</a>
<table class="table">
     
    @foreach (var item in Model)
    {
        <tr><td>@item.StatusId</td>
            <td>
                <a asp-action="Details" asp-controller="Statuses" asp-route-id="@item.StatusId">Подробнее</a> |
                <a asp-action="Edit" asp-controller="Statuses" asp-route-id="@item.StatusId">Изменить</a> |
                <a asp-action="Delete" asp-controller="Statuses" asp-route-id="@item.StatusId">Удалить</a>
            </td></tr>
    }
</table>