@model Server_v0._0.Models.Client
@{
    ViewBag.Title = "Добавление пользователя";
}
<form id="q" asp-action="create" asp-controller="clients">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Имя</label>
        <a style="color:red">@Html.ValidationMessageFor(model => model.Name)</a>
        <input type="text"asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Электронная почта</label>
        <a style="color:red">@Html.ValidationMessageFor(model => model.Email)</a>
        <input type="email" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label">Номер</label>
        <a style="color:red"> @Html.ValidationMessageFor(model => model.Phone)</a>
        <input type="number"  asp-for="Phone" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>
