@model Server_v0._0.Models.Client
@{
    ViewBag.Title = Model.Name;
}
<h2>Пользователь @Model.Name</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Идентификатор</dt>
        <dd>@Model.ClientId</dd>

        <dt>Электронная почта</dt>
        <dd>@Model.Email</dd>
 
        <dt>Номер</dt>
        <dd>@Model.Phone</dd>
    </dl>
</div>