@model IEnumerable<Server_v0._0.Models.Client>
@{
    ViewBag.Title = "Все пользователи";
}
<a asp-action="Create">Добавить пользователя</a>
<table class="table">
     
    @foreach (var item in Model)
    {
        <tr><td>@item.Name</td>
            <td>
                <a asp-action="Details" asp-controller="Clients" asp-route-id="@item.ClientId">Подробнее</a> |
                <a asp-action="Edit" asp-controller="Clients" asp-route-id="@item.ClientId">Изменить</a> |
                <a asp-action="Delete" asp-controller="Clients" asp-route-id="@item.ClientId">Удалить</a>
            </td></tr>
    }
</table>